.comment {
    width:600px;
    height:50px;
    overflow:hidden;
}

.comment * {
    margin:0px;
    padding:0px;
}

.incomment {
    float:left;
}

.incomment ul {
    width:1800px;
    float:left;
}

.incomment li {
    list-style:none;
    float:left;
    width:590px;
    padding-right:10px;
    font-size:20px;
    line-height:25px;
    color:white;
    font-weight:bold;
    text-shadow:3px 3px 10px black;
}